<div class="header">
  <div class="container">
    <div class="brand">
      <a href="/">1Afisha</a>
    </div>
    <div class="user">
      <% if user_signed_in? %>
        <img src="https://graph.facebook.com/<%= current_user.uid %>/picture" class="avatar">
        <%= current_user.fullname %>  <%= link_to t('logout'), destroy_user_session_path %>
      <% else %>
        <%= link_to t('login'), user_omniauth_authorize_path(:facebook) %>
      <% end %>  
    </div>
  </div>
</div>