<table>
  <th>
    <tr>
      <td>title</td>
      <td>showings</td>
      <td>description</td>
      <td>url</td>
    </tr>
  </th>
  <% @afisha.get_movies.each do |movie|%>
    <tr>
      <td><%= movie[:title] %></td>
      <td><%= movie[:showings].join(", ") %></td>
      <td><%= movie[:description] %></td>
      <td><%= movie[:url] %></td>
    </tr>
  <% end %>
</table>