<%= render "shared/header" %>

<div class="main">
  <div class="container">
    
    <ul>
    <% @events.each do |event| %>      
      <li>
        <%= link_to image_tag(event.poster.url(:thumb)), event.slug(@locale) %>
        <%= link_to event.title(@locale), event.slug(@locale) %>
      </li>
    <% end %>
    </ul>

  </div>
</div>

<%#= render "movies" %>