<%= render "shared/header" %>

<div class="main">
  <div class="container">
    
    <ul>
    <% 10.times do %>
      <li>
        <a href="#">
          <img src="http://trailers.apple.com/trailers/dreamworks/turbo/images/poster.jpg" alt="">
        </a>
        <a href="#">Turbo</a>
      </li>
      <li>
        <a href="#">
          <img src="http://trailers.apple.com/trailers/paramount/paingain/images/poster.jpg" alt="">
        </a>
        <a href="#">Pain & Gain</a>
      </li>
      <li>
        <a href="#">
          <img src="http://trailers.apple.com/trailers/dreamworks/madagascar3/images/poster.jpg" alt="">
        </a>
        <a href="#">Madagascar 3: Europe's Most Wanted</a>
      </li>
      <li>
        <a href="#">
          <img src="http://trailers.apple.com/trailers/wb/theincredibleburtwonderstone/images/poster.jpg" alt="">
        </a>
        <a href="#">The Incredible Burt Wo...</a>
      </li>
      <% end %>
    </ul>

  </div>
</div>

<%#= render "movies" %>